.root{
    -fx-background-repeat: stretch;
}

#boardWrap{
    -fx-background-color: #FBEFE1;
    -fx-border-width: 2;
    -fx-border-color: #8B4513;
}
#opponentTaken, #playerTaken{
    -fx-min-width: 65;
    -fx-max-width: 65;
    -fx-background-color: 	#C19A6B;
    -fx-border-color: #8B4513;
    -fx-padding: 5;
    -fx-border-width: 2;
    -fx-min-height: 520;
    -fx-max-height: 520;
}
#whiteTile{
    -fx-background-color: #FBEFE1;
}

#board{
    -fx-border-color: #8B4513;
    -fx-border-width: 2;
    -fx-min-width: 504;
    -fx-min-height: 504;
}

#blackTile{
    -fx-background-color: #8B4513;
}
#available{
    -fx-background-color: rgba(12, 178, 241, 0.78);
}

#notDirectlyAvailable{
    //some changes
    -fx-background-color: rgba(0, 170, 220, 1);

}

#isAttacking {
    -fx-background-color: rgba(248, 0, 27, 0.54);
}